.portfolio-wrapper {
    position: fixed;
    bottom: 2.5vh;
    left: 0;
    width: 100vw;

    padding-top: 2.5vh;
    margin-top: -2.5vh;
}
.cards-container {
    display: flex;
    gap: 0.75vw;
    padding-right: 0.75vw;
    width: max-content;
    will-change: transform;
}
.card {
    position: relative;
    height: 40vh;
    aspect-ratio: 2.4 / 3;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), background 0.5s;
    font-size: 1.5rem;
}
.card:hover {
    transform: translateY(-2vh);
}
.card:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
}
.card:hover .card-content {
    transform: translateY(0);
    background: transparent;
}

@media (max-width: 1024px) {
    .card {
        height: 35vh;
    }
}

@media (max-width: 768px) {
    .portfolio-wrapper {
        bottom: 5vh;
    }
    .card {
        height: 30vh;
        aspect-ratio: 2 / 3;
    }
    .cards-container {
        gap: 3vw;
        padding-right: 3vw;
    }
    .card-content {
        font-size: 1.1rem;
        padding: 1.5rem 1rem;
        transform: translateY(0); /* Toujours visible sur mobile */
        background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    }
}
