@font-face {
    font-family: 'GCAkihiko';
    src: url('../assets/fonts/GCAkihikoDemo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GCAkihiko';
    src: url('../assets/fonts/GCAkihikoDemo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}